#loader1 {
  position: absolute;
  top: 2.8rem;
  left: 0px;
  right: 0px;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--loaderFade);
}
._loader-sLoader {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  margin: auto;
}
._loader-sLoader > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: cornflowerblue;
}

@keyframes bouncing {
  0% {
    transform: translate3d(0, 12px, 0) scale(1.2, 0.85);
  }
  100% {
    transform: translate3d(0, 0px, 0) scale(0.9, 1.1);
  }
}

@keyframes colorFlow {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: violet;
  }
}

._loader-sLoader > div:nth-child(1) {
  animation: 
    bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95),
    colorFlow 2s alternate infinite;
  /* background-color: cornflowerblue; */
  opacity: 0.8;
}
._loader-sLoader > div:nth-child(2) {
  animation: 
    bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards,
    colorFlow 2s 0.1s alternate infinite;
  /* background-color: firebrick; */
  opacity: 0.8;
}
._loader-sLoader > div:nth-child(3) {
  animation: 
    bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards,
    colorFlow 2s 0.2s alternate infinite;
  /* background-color: green; */
  opacity: 0.8;
}
._loader-sLoader > div:nth-child(4) {
  animation: 
    bouncing 0.4s 0.3s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards,
    colorFlow 2s 0.3s alternate infinite;
  /* background-color: darkgoldenrod; */
  opacity: 0.8;
}
._loader-sLoader > div:nth-child(5) {
  animation: 
    bouncing 0.4s 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards,
    colorFlow 2s 0.4s alternate infinite;
  /* background-color: purple; */
  opacity: 0.8;
}

