@media (max-width: 768px) {
  * {
    font-size: var(--rootFontSize);
  }
  body {
    width: 100%; /* * don't change unless to fix!*/
  }
  input {
    font-size: var(--inputFontSize);
  }
  #mainBody {
    width: 100%; /* * don't change unless to fix!*/
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .btn {
    font-size: 1.5rem; /* 🔥 Temp */
  }
}