@media (max-width: 768px) {
  * {
    font-size: var(--mobileRootFontSize);
  }
  body {
    width: 100%; /* * don't change creates weird padding-right gap !*/
  }
  input {
    font-size: var(--mobileInputFontSize);
  }
  #mainBody {
    width: 100%; /* * don't change creates weird padding-right gap !*/
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .btn {
    font-size: 1.5rem; /* 🔥 Temp */
  }
}