/* - - - 🗳️ Input & Enter Section 🗳️ - - - */
#inputSection {
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
}
#inputContainer {
  position: relative;
  width: var(--inputWidth); 
  margin: auto;
}
#enterContainer {
  position: relative;
}
#real_input {
  width: 100%;
  text-align: center;
  font-size: var(--inputTextSize);
  box-sizing: border-box;
  padding: 0.5rem;
  user-select: none;
  opacity: 0;
}
#falseInputBorder {
  position: absolute;
  top: -0.2rem;  
  left: -0.2rem; 
  width: 100%;
  height: 4.2rem;  
  border-radius: 4.2rem;
  border: 0.2rem solid rgba(0,0,200,0.3); 
  user-select: none;
  pointer-events: none;
  opacity: 1;
  transition: opacity var(--highlightBorderFade); 
}
#falseInputContainer {
  position: absolute;
  top: 0.1rem; 
  left: 0.1rem; 
  right: 0.1rem; 
  height: 4rem; 
  border-radius: 4rem; 
  background-color: var(--inputBackgroundColor);
  box-shadow: var(--inputBoxShadow);
  user-select: none;
  pointer-events: none;
  z-index: 10;
  transition: box-shadow var(--boxShadowFades), background-color var(--boxShadowFades); /* 🤔 Global Time */
}
#falseInputContainer:hover {
  background-color: rgba(0,0,0,0); /* * Yes, this is the same as non-hover, BUT when a request is triggered, it turns gray, so they will create then. */
}
#falseInputText {
  display: inline-block;
  position: relative;
  white-space: pre;
  top: 0.1rem;
  left: 0.8rem; 
  font-size: var(--inputTextSize);
}
#falseInputCursor {
  display: inline-block;
  position: relative;
  top: 0.75rem; 
  background-color: rgba(200,0,0,0.25);
  height: 2.5rem;
  width: 1rem; 
  opacity: 0;
}
.cursorBlinker {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  5%  { opacity: 1; }
  50% { opacity: 1; }
  55% { opacity: 0; }
  95% { opacity: 0; }
}

/* 🎬 Button */
#enterButton {
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 0.25rem;
  width: 10rem;
  height: 2.8rem;
  opacity: 0.75;
  border-radius: 2.5rem;
  letter-spacing: 0.25rem;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.3), 2px 2px 2px rgba(0,0,0,0.25);
  background-color: rgba(255,255,255,0.25);
  cursor: pointer;
  transition: 
    color var(--enterTextFade),
    box-shadow var(--boxShadowFades), 
    background-color var(--boxShadowFades),
    opacity var(--hoverFade);
}
#enterButton:hover {
  opacity: 1;
  transform: opacity var(--hoverFade);
}