/* - - - 🔴🟢🔵 Color Results Section 🔵🟢🔴 - - - */
#resultsSection {
  flex: 1 0 auto;
  padding: 0.5rem;
  padding-top: 1rem;
  text-align: center;
}
#colorsResult {
  font-size: 0px;
}
.colorResultsContainer {
  font-size: 0;
  height: 0;
  transition: height 1.3s;
}
.colorCircleContainer {
  display: inline-block;
  height: var(--resultColorWidth);
  margin: 0;
  transition: margin var(--resultColorTransition);
}
.colorCircle {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  margin-top: calc(var(--resultColorWidth) / 2);
  margin-bottom: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: 
    width var(--resultColorTransition), 
    height var(--resultColorTransition), 
    margin-top var(--resultColorTransition), 
    box-shadow var(--resultColorTransition);
}

/* 📜 Historical  📜*/
.historical {
  position: relative;
  height: 0;
  padding-bottom: 0;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--themeA);
  opacity: 0.7;
  transition: 
    height var(--historicalGapGrows), 
    padding-bottom var(--historicalGapGrows), 
    color var(--historicalColorFade);
}
.historicalDivide {
  height: 0px;
  margin-top: 0;
  transition: height var(--historicalGapGrows), margin-top var(--historicalGapGrows);
}