:root {

  /* ⛺️ Base Levels ⛺️*/
  --root-font-size: 16px; 
  --pageTransition: 2s;
  --mainBodyWidth: 48rem;
  --hoverFade: 0.25s;
  --opacityCrossFade: 0.3s;
  --opacitySlowFade: 2s;


  /* Colors */
  --light:  #FAF9F9; /* rgb(250,249,249) */
  --dark: #1C1814;  /* rgb(28,24,20) */
  --themeA: var(--light);
  --themeB: var(--dark);

  --light-bg: url('../assets/light-grain.png'); /* https://bg.siteorigin.com/?color=%23FAF9F9&pattern=beige_paper&blend=3&intensity=13&noise=0&invert=0&2x=0 */
  --dark-bg: url('../assets/dark-grain.png'); /* https://bg.siteorigin.com/?color=%231C1814&pattern=beige_paper&blend=3&intensity=13&noise=0&invert=0&2x=0 */
  --themeA-bg: var(--light-bg);
  --themeB-bg: var(--dark-bg);

  --light-arrow: url('../assets/dark-arrow.png'); 
  --dark-arrow: url('../assets/light-arrow.png'); 
  --themeA-arrow: var(--light-arrow);
  --themeB-arrow: var(--dark-arrow);



  /* Input, Enter and loader */
  --inputWidth: 75%;
  --inputTextSize: 2rem;
  --inputBackgroundColor: rgba(0,0,0,0);
  --inputBoxShadow: inset 0px 0px 3px 3px rgba(0,0,0,0.5), 0px 0px 0px 0px rgba(0,0,0,0.5);

  --highlightBorderFade: 0.5s;
  --boxShadowFades: 1s;
  --enterTextFade: 0.3s;
  --loaderFade: 1s;

  /* Result Colors & Transitioninng */
  --resultColorWidth: 6rem; 
  --resultColorBoxShadow: 0px 0px 4px 2px rgba(0,0,0,0.5); 
  --resultColorMargin: 0.5rem;
  --resultColorTransparent: url('assets/transparent.png');
  --resultColorTransition: 1s;
  --historicalGapGrows: 0.5s;
  --historicalColorFade: 2s;

  /* Toggle */
  --width: 50px; 
  --height: 25px; 
  --toggleTransition: 2s;

}