/* ⛺️ Base Levels ⛺️*/
* {
  font-size: var(--root-font-size); 
  color: var(--themeB); 
  font-family: Avenir, sans-serif;
  transition: color var(--pageTansition); 
}
body {
  background-image: var(--themeA-bg);
  margin: 0;
  opacity: 0;
  transition: background-image var(--pageTansition), background-color var(--pageTansition), opacity var(--pageTansition);
}
#mainBody {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: var(--mainBodyWidth); 
  min-height: 100vh;
}
#bottomPadding { /* * Careful editing here. This was added because of the difficulty with mobile sticky footer and is really finiky, where it cuts off historical results on mobile. */
  position: relative;
  font-size: 1rem;
  height: 5rem;
  min-height: 5rem;
}

/* 🧑‍🏫 global Classes 🧑‍🏫 */
.divider {
  box-shadow: inset 1px 5px 9px -6px rgba(0,0,0,1);
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  display: block;
  height: 10px;
  width: 100%;
}
.divider.flip {
  box-shadow: inset 1px -5px 9px -6px rgba(0,0,0,1);
}






