/* ⛺️ Base Levels ⛺️*/
* {
  font-size: var(--root-font-size); 
  color: var(--themeB); 
  font-family: Avenir, sans-serif;
  transition: color var(--pageTansition); 
}
body {
  /* background-color: var(--themeA); */
  background-image: var(--themeA-bg);
  margin: 0;
  opacity: 0;
  transition: 
    background-image var(--pageTansition), 
    background-color var(--pageTansition), 
    opacity var(--pageTansition);
}
#mainBody {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: var(--mainBodyWidth); 
  min-height: 100vh;
}
.btn {
  margin: 1rem;
  background-color: var(--themeA);
}

/* sections */
#navBar {
  display: flex;
  align-items: center;

  /* 🔥 Temp */
  background-color: rgba(0,0,0,0.15); 

  height: 2rem;
  padding: .5rem;
}
#content {
  flex: 1 0 auto;
  margin-top: 1rem;
  padding: .5rem;

  /* 🔥 Temp */
  /* background-color: rgba(0,0,0,0.15);  */
  
  text-align: center;
}
#footer {
  flex-shrink: 0;
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 1rem;
  padding: .5rem;

  /* 🔥 Temp */
  background-color: rgba(0,0,0,0.15);
}

/* 🎩 Nav Bar 🎩 */
/* #navBar > nav, #topRightNav > div {
  display: inline-block; 
} */
#title {
  margin-left: 1rem;
}
#topRightNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 1rem;
}
#topRightNav > div {
  margin-left: 1rem;
}
/* #lightDarkToggle {
  width: 1rem;
  height: 1rem;
} */

/* - - - 🗳️ Input & Enter 🗳️ - - - */
.inputContainer {
  text-align: center;
}
#thingInput {
  /* 🔥 Temp */
  width: 75%;
  background-color: var(--themeA);
  color: var(--themeB);
  
  box-sizing: border-box;
  padding: .5rem;
}


/* 🔴🟢🔵 Color Results 🔵🟢🔴 */
#colorsResult {
  font-size: 0px;
}
.colorCircleContainer {
  display: inline-block;
  height: var(--resultColorWidth);
  margin: 0;
  transition: margin var(--resultColorTransition);
}
/* .colorName {
  font-size: 1rem;
  text-align: center;
} */
.colorCircle {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  margin-top: calc(var(--resultColorWidth) / 2);
  margin-bottom: 0;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: 
    width var(--resultColorTransition), 
    height var(--resultColorTransition), 
    margin-top var(--resultColorTransition), 
    box-shadow var(--resultColorTransition);
}

/* 🌒🌓🌔 LIGTH DARK TOGGLE 🌖🌗🌘 */
/* 🎨⚾️ All Color balls ⚾️🎨 */