@media (max-width: 768px) {
  * {
    font-size: var(--mobileRootFontSize);
  }
  #title {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  #iconSvg {
    width: 2.25rem;
    top: -0.45rem;
    left: 3rem;
  }
  #inputContainer {
    width: 90%;
  }
  input {
    font-size: var(--mobileInputFontSize);
  }
  #mainBody {
    width: 100%; 
  }
  #enterButton {
    font-size: 1.5rem; /* 🔥 Temp */
  }
}