@media (max-width: 768px) {
  * {
    font-size: var(--mobileRootFontSize);
  }
  #inputContainer {
    width: 90%;
  }
  input {
    font-size: var(--mobileInputFontSize);
  }
  #mainBody {
    width: 100%; 
  }
  #enterButton {
    font-size: 1.5rem; /* 🔥 Temp */
  }
}