:root {

  /* ⛺️ Base Levels ⛺️*/
  --root-font-size: 16px; 
  --pageTransition: 2s;
  --mainBodyWidth: 48rem;
  --hoverFade: 0.25s;
  --opacityCrossFade: 0.3s;
  --opacitySlowFade: 2s;

  /* Colors */
  --light:  #FAF9F9; /* rgb(250,249,249) */
  --dark: #1C1814;  /* rgb(28,24,20) */
  --themeA: var(--light);
  --themeB: var(--dark);

  --light-bg: url('../assets/light-grain.png'); /* https://bg.siteorigin.com/?color=%23FAF9F9&pattern=beige_paper&blend=3&intensity=13&noise=0&invert=0&2x=0 */
  --dark-bg: url('../assets/dark-grain.png'); /* https://bg.siteorigin.com/?color=%231C1814&pattern=beige_paper&blend=3&intensity=13&noise=0&invert=0&2x=0 */
  --themeA-bg: var(--light-bg);
  --themeB-bg: var(--dark-bg);

  --light-arrow: url('../assets/dark-arrow.png'); 
  --dark-arrow: url('../assets/light-arrow.png'); 
  --themeA-arrow: var(--light-arrow);
  --themeB-arrow: var(--dark-arrow);

  --light-dividerBoxShadow: inset 1px 5px 9px -6px rgba(0,0,0,1);
  --dark-dividerBoxShadow: inset 1px 5px 9px -6px rgba(255,255,255,1);
  --themeA-dividerBoxShadow: var(--light-dividerBoxShadow);
  --themeB-dividerBoxShadow: var(--dark-dividerBoxShadow);

  --light-dividerBoxShadow-flip: inset 1px -5px 9px -6px rgba(0,0,0,1);
  --dark-dividerBoxShadow-flip: inset 1px -5px 9px -6px rgba(255,255,255,1);
  --themeA-dividerBoxShadow-flip: var(--light-dividerBoxShadow-flip);
  --themeB-dividerBoxShadow-flip: var(--light-dividerBoxShadow-flip);

  /* Toggle */
  --width: 50px; 
  --height: 25px; 
  --toggleTransition: 2s;

  /* Input, Enter and loader */
  --inputWidth: 75%;
  --inputTextSize: 2rem;
  --inputBackgroundColor: rgba(0,0,0,0);

  --light-inputBorderColor: 0.2rem solid rgba(0,0,200,0.3); 
  --dark-inputBorderColor: 0.2rem solid rgba(0,191,255,0.75); 
  --themeA-inputBorderColor: var(--light-inputBorderColor); 
  --themeB-inputBorderColor: var(--dark-inputBorderColor); 

  --light-inputBoxShadow: inset 0px 0px 3px 3px rgba(0,0,0,0.5), 0px 0px 0px 0px rgba(0,0,0,0.5);
  --dark-inputBoxShadow: inset 0px 0px 3px 3px rgba(255,255,255,0.5), 0px 0px 0px 0px rgba(255,255,255,0.5); 
  --themeA-inputBoxShadow: var(--light-inputBoxShadow); 
  --themeB-inputBoxShadow: var(--dark-inputBoxShadow); 
  --light-inputBoxShadow-shift: inset 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 3px 3px rgba(0,0,0,0.25);
  --dark-inputBoxShadow-shift: inset 0px 0px 0px 0px rgba(255,255,255,0), 0px 0px 3px 3px rgba(255,255,255,0.25); 
  --themeA-inputBoxShadow-shift: var(--light-inputBoxShadow-shift); 
  --themeB-inputBoxShadow-shift: var(--dark-inputBoxShadow-shift); 

  --buttonBoxShadow: inset 0px 0px 0px 0px rgba(0,0,0,0.3), 2px 2px 2px rgba(0,0,0,0.25);
  --light-buttonBoxShadow-shift: inset 0px 0px 2px 2px rgba(0,0,0,0.3), 0px 0px 0px rgba(0,0,0,0.25);
  --dark-buttonBoxShadow-shift: inset 0px 0px 2px 2px rgba(255,255,255,0.3), 0px 0px 0px rgba(255,255,255,0.25); 
  --themeA-buttonBoxShadow-shift: var(--light-buttonBoxShadow-shift); 
  --themeB-buttonBoxShadow-shift: var(--dark-buttonBoxShadow-shift); 

  --light-cursor: rgba(200,0,0,0.25);
  --dark-cursor: rgba(200,0,0,0.75);
  --themeA-cursor: var(--light-cursor);
  --themeB-cursor: var(--dark-cursor);

  --highlightBorderFade: 0.5s;
  --boxShadowFades: 1s;
  --enterTextFade: 0.3s;
  --loaderFade: 1s;

  /* Result Colors & Transitioninng */
  --resultColorWidth: 6rem; 
  --resultColorBoxShadow: 0px 0px 4px 2px rgba(0,0,0,0.5); 
  --resultColorMargin: 0.5rem;
  --resultColorTransparent: url('assets/transparent.png');
  --resultColorTransition: 1s;
  --historicalGapGrows: 0.5s;
  --historicalColorFade: 2s;

  /* Info Section */
  --light-infoBorderColor: rgba(0,0,0,0.2);
  --dark-infoBorderColor: rgba(255,255,255,0.2);
  --themeA-infoBorderColor: var(--light-infoBorderColor);
  --themeB-infoBorderColor: var(--dark-infoBordeColorr);

}